In [ ]:
import time

### 1. 모험가 길드

In [ ]:
N = int(input())
chicken = list(map(int, input().split()))
chicken.sort()

start_time = time.time()

member = 0
group = 0

for c in chicken:
  member += 1
  if member >= c:
    group += 1
    member = 0

print(time.time() - start_time)
print(group)

5
1 2 3 4 5
0.0002751350402832031
1

### 2.곱하기 혹은 더하기  
문자열 S : 각 자리가 숫자로만 이루어져 있음(20자리 이하)  
왼쪽부터 계산하며 곱하기 또는 더하기를 넣어 가장 큰 수를 만들기

In [ ]:
s = list(map(int,input()))

start_time = time.time()
value = s[0]
for num in s[1:]:
  if num == 0 or value == 0:
    value += num
  else : 
    value = value*num

print(time.time()-start_time)
print(value)

02984
0.00033354759216308594
576

### 3.문자열 뒤집기
문자열S : 0과 1로만 이루어져 있음  
연속된 숫자를 잡고 뒤집어서 문자열S를 동일한 문자로 만들려고 할 때, 최소 행동 횟수  

아이디어가 도저히 생각이 안나서 정답을 필사하였습니다..ㅎ

In [ ]:
data = input()
count0 = 0 
count1 = 0 

if data[0] == '1':
    count0 += 1
else:
    count1 += 1

for i in range(len(data) - 1):
    if data[i] != data[i + 1]:
        if data[i + 1] == '1':
            count0 += 1
        else:
            count1 += 1

print(min(count0, count1))

1001100
2

### 4.만들 수 없는 금액
N : 가지고 있는 동전의 수  
output : 가진 동전으로 만들 수 없는 양의 정수 중 최솟값

In [ ]:
N = input()
coins = list(map(int,input().split()))
coins.sort()

max_value = 1

if coins[0] != 1 :
  max_value = 1
else : 
  for coin in coins:
    if max_value < coin:
        break
    max_value += coin

print(max_value)

6
2 3 4 5 6 7
1

### 5. 볼링공 고르기
볼링공 개수 : 총 N개  
볼링공의 무게 : 1부터 M까지의 자연수 형태로 존재  
output : 두 사람이 볼링공을 고르는 경우의 수

In [ ]:
num, pound = map(int, input().split())
balls = list(map(int, input().split()))

answer = 0
for i in range(num-1):
    for j in range(i+1, num):
        if balls[i] != balls[j]:
            answer += 1

print(answer)

5 3
1 2 3 2 3
8

### 6. 무지의 먹방 라이브  
실패한 케이스도 있고, 시간 초과도 있어서 다시 해봐야 함 =..

In [62]:
food_times = [3, 1, 2]
k = 5

def solution(food_times, k):
    if sum(food_times) < k:
        answer = -1
    else : 
        for i in range(k):
            num = i % 3
            if food_times[num] != 0:
                food_times[num] = food_times[num] - 1
            elif food_times[num] == 0:
            # 0이 아닌 다음 인덱스를 찾아야 함
                while True:
                    num += 1
                    num = num % 3
                    if food_times[num] != 0:
                        break
                food_times[num] = food_times[num] - 1
        answer = (num+1)%3 +1
    return answer

solution(food_times,5)

1