### 18870.좌표 압축
https://www.acmicpc.net/problem/18870

In [ ]:
N = int(input())

data = list(map(int,input().split()))

# key:value로 해서 
data_sorted = list(sorted(set(data)))
data_sorted = {data_sorted[i]:i for i in range (len(data_sorted))}

for i in range(N):
  print(data_sorted[data[i]],end=' ')

6
1000 999 1000 999 1000 999
1 0 1 0 1 0

### 1181.단어 정렬
https://www.acmicpc.net/problem/1181  
* 정렬 조건
  * 길이가 짧은 것부터
  * 길이가 같으면 사전 순으로
  * 중복된 단어는 제거

In [ ]:
# 중복된 단어는 set으로 제거
# 이후 해당 단어의 개수를 세서 튜플로 만들고, 튜플을 정렬 -> 내부적으로 알아서 정렬됨
# 정렬된 걸 하나씩 출력

N = int(input())
data = []
for _ in range(N):
  data.append(input())

data_sorted = []
for i in set(data):
  data_sorted.append((len(i),i))
data_sorted = sorted(data_sorted)
for word in data_sorted:
  print(word[1])

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

### 1026.보물
https://www.acmicpc.net/problem/1026  

* 조건
  * 배열 A와 B를 곱해서 만들 수 있는 가장 작은 수 출력
  * 단, 배열 B는 정렬하지 않아야 함

In [ ]:
N = int(input())

# array A, B
A = list(map(int, input().split()))
B = list(map(int, input().split()))

# 사실은 그냥 A랑 B를 A는 오름차순, B는 내림차순으로 소팅하면 되는거 아닌가 싶지만
# B를 정렬하면 안된다고 하니까..
# A는 오름차순으로 정렬, B는 큰 수부터 하나씩 뽑아오기

A = sorted(A)
total = 0
for i, a in enumerate(A):
  b = B.pop(B.index(max(B)))
  total += b*a

print(total)

5
1 1 1 6 0
2 7 8 3 1
18

### 10989.수 정렬3
https://www.acmicpc.net/problem/10989  
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성  
-> 백준에서 돌렸을 때 초과가 나옴.

In [ ]:
10
5
2
3
1
4
2
3
5
1
7

In [ ]:
N = int(input())
data = []
for _ in range(N):
  data.append(int(input()))

data_sorted= sorted(data)
for i in data_sorted:
  print(i)

10
5
2
3
1
4
2
3
5
1
7
1
1
2
2
3
3
4
5
5
7